.sidebar{
	-fx-background-color:#3498DB;
	-fx-border-color:black;
	-fx-border-width:0px 5px 0px 0px;
}
.cadrare{
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}
.shirt-item{
	-fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}